{
    "presets": [
        "es2015",
        "es2016",
        "react",
        "stage-0"
    ],
    "plugins": [
        "add-module-exports",
        "transform-class-properties",
        "transform-object-rest-spread",
        "lodash"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "production": {
            "presets": ["react-optimize"]
        }
    }
}