.ReactVirtualized__Grid {
}

.ReactVirtualized__Grid__innerScrollContainer {
}

.ReactVirtualized__Table {
  /* Added */
  margin: 10px 0;
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  min-width: 0px;
}

/* Added */
.ReactVirtualized__Table__headerColumn {
  height: 100%;
  padding: 8px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  /* Added global padding */
  padding: 8px;
  border-top: 1px solid #ddd;
}

/* Added */
.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  padding-left: 8px;
}

/* Added */
.ReactVirtualized__Table__bordered .ReactVirtualized__Table__headerColumn {
  border-right: 1px solid #ddd;
}

/* Added */
.ReactVirtualized__Table__bordered .ReactVirtualized__Table__rowColumn {
  border: 1px solid #ddd;
}

/* Added */
.ReactVirtualized__Table__bordered .ReactVirtualized__Table__headerRow {
  border: 1px solid #ddd;
}

.ReactVirtualized__Table__headerColumn:last-of-type {
  border-right: none;
}

.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* Added */
.ReactVirtualized__Table__selectColumnRow, 
.ReactVirtualized__Table__selectColumnHeader {
  padding: 0;
}

/* Added */
.ReactVirtualized__Grid__innerScrollContainer>.ReactVirtualized__Table__row.ReactVirtualized__Table__row__striped {
  background-color: #f9f9f9;
}
/* Added */
.ReactVirtualized__Grid__innerScrollContainer>.ReactVirtualized__Table__row.ReactVirtualized__Table__row__selected {
  background-color: #ffeb3b !important;
}
/* Added */
.ReactVirtualized__Grid__innerScrollContainer>.ReactVirtualized__Table__row:hover {
  background-color: #BDBDBD;
}