.RadioGroup {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
}

.RadioGroup input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.RadioGroup__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

.RadioGroup__radio .RadioGroup__indicator {
  border-radius: 50%;
}

.RadioGroup:hover input ~ .RadioGroup__indicator,
.RadioGroup input:focus ~ .RadioGroup__indicator {
  background: #ccc;
}

.RadioGroup input:checked ~ .RadioGroup__indicator {
  background: #09ad7e;
}

.RadioGroup:hover input:not([disabled]):checked ~ .RadioGroup__indicator,
.RadioGroup input:checked:focus ~ .RadioGroup__indicator {
  background: #86d993;
}

.RadioGroup input:disabled ~ .RadioGroup__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.RadioGroup__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.RadioGroup input:checked ~ .RadioGroup__indicator:after {
  display: block;
}

.RadioGroup__radio .RadioGroup__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.RadioGroup__radio input:disabled ~ .RadioGroup__indicator:after {
  background: #7b7b7b;
}