/* External styles */
@import 'react-dates/lib/css/_datepicker.css';
@import 'react-select/dist/react-select.css';
@import 'rc-tooltip/assets/bootstrap.css';
/* @import 'react-selectize/themes/base.css';
 @import 'react-selectize/themes/bootstrap3.css'; */

/* Custom styles */
@import 'Checkbox/Checkbox.css';
@import 'Datepicker/DatePicker.css';
@import 'Modal/Modal.css';
@import 'Paginator/Paginator.css';
@import 'RadioGroup/RadioGroup.css';
@import 'Switch/Switch.css';
@import 'Table/Table.css';

/* Highlight Text */
.highlight {
    background-color: yellow;
    color: #aaa;
}

/* Overrides */
.rc-tooltip {
  opacity: 1;
}

.has-error .Select-control {
    border-color: #a94442;
}